.align-left { float: left; }
.align-right { float: right; }
.clear { clear: both; }
.hidden { display: none; }
.no-margin { margin: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-padding { padding: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }

body,
html {
	background: #222631;
	color: #616671;
	font-family: 'Courier New', arial, serif !important;
	font-size: 14px;
	letter-spacing: -0.69px;
	line-height: 23px;
}
a,
body,
button,
div,
input,
label,
span,
textarea {
	transition: all 100ms ease;
		-webkit-transition: all 100ms ease;
		-o-transition: all 100ms ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	font-weight: 300;
}
a,
a:active,
a:focus,
a:visited {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
}
	a:hover {
		opacity: 1;
	}
h1 {
	margin: 45px 0 25px;
	font-size: 20px;
}
p {
	margin: 0;
}
strong {
	color: #fff;
	font-weight: 500;
}
label {
	display: block;
	padding: 2px 0;
	width: 100%;
}
.table {
	border-left: 1px solid #3d414b;
	border-right: 1px solid #3d414b;
	border-top: 1px solid #3d414b;
	border-spacing: 0;
	margin-bottom: 5px;
	text-align: left;
	width: 100%;
}
	.table .select-container {  }
	.table .table-text {
		line-height: 0;
		float: left;
	}
	.table tr {
		border-bottom: 1px solid #3d414b;
		float: left;
		width: 100%;
	}
		.table tr:hover {
			background: #242833;
		}
		.table tr:hover span.details {
			display: block;
		}
		.table tr td {
			padding: 6px;
		}
		.table tr td .details {
			background: #181b23;
			display: none;
			font-size: 12px;
			left: 48px;
			margin-top: 18px;
			position: absolute;
			padding: 10px 12px;
			text-align: left;
			width: 358px;
			z-index: 9;
		}
			.table tr td .details:after {
				border-color: transparent transparent #181b23;
				border-style: solid;
				border-width: 10px;
				content: "";
				height: 0;
				left: 18px;
				position: absolute;
				top: -18px;
				width: 0;
			}
.section {
	padding: 51px 15px 180px;
}
.container {
	margin: 0 auto;
	width: 100%;
}
	.container.small {
		max-width: 450px;
	}
.item-container {
	margin-bottom: 15px;
	margin-top: 5px;
	position: relative;
	width: 100%;
}
	.item-container.item-button {
		border: 1px solid #3d414b;
	}
		.item-container.item-button:hover {
			border-color: #58ce79;
		}
	.item-container .item {
		display: block;
	}
		.item-container .item-body,
		.item-container .item-footer,
		.item-container .item-header {
			background: #222631;
			padding: 19px 19px 14px;
		}
		.item-container .item-body {
			border: 1px solid #3d414b;
		}
		.item-container .item-footer {
			border-bottom: 1px solid #3d414b;
			border-right: 1px solid #3d414b;
			border-left: 1px solid #3d414b;
		}
		.item-container .item-header {
			background: #222631;
			border: 1px solid #3d414b;
			margin-bottom: -1px;
		}
	.item-container .item-link-container {
		height: 100%;
		left: 0px;
		position: absolute;
		top: 0px;
		width: 100%;
	}
			.item-container .item-link-container a {
				display: inherit;
				height: inherit;
				width: inherit;
			}
	.icon {
		color: #fff;
		cursor: pointer;
		display: block;
		height: 18px;
		float: left;
		font-size: 10px;
		margin: 1px 0 8px 8px;
		opacity: 0.7;
		width: 18px;
	}
		.icon:hover {
			opacity: 1;
		}
		.icon.authenticate {
			background: url('../images/icons/icon-authenticate.png') center no-repeat / 100%;
		}
		.icon.close {
			background: url('../images/icons/icon-close.png') #fff center no-repeat / 100%;
		}
		.icon.copy {
			background: url('../images/icons/icon-copy.png') center no-repeat / 100%;
		}
		.icon.group {
			background: url('../images/icons/icon-group.png') center no-repeat / 100%;
		}
		.icon.next {
			background: url('../images/icons/icon-next.png') #fff center no-repeat / 100%;
		}
		.icon.previous {
			background: url('../images/icons/icon-previous.png') #fff center no-repeat / 100%;
		}
			.icon.previous[page="0"],
			.icon.next[page="0"] {
				cursor: default;
				opacity: 0.18;
			}
		.icon.replace {
			background: url('../images/icons/icon-replace.png') center no-repeat / 100%;
		}
		.icon.search {
			background: url('../images/icons/icon-search.png') center no-repeat / 100%;
			margin-left: 14px;
		}
	.flag {
		display: block;
		width: 16px;
	}
.checkbox {
	background: #222631;
	border: 1px solid #3d414b;
	cursor: pointer;
	display: block;
	height: 18px;
	opacity: 1;
	width: 18px;
}
	.checkbox:hover {
		border-color: #fff;
		opacity: 0.7;
	}
	.checkbox[checked] {
		background: url('../images/icons/icon-check.png') #fff center no-repeat / 100%;
		border-color: #fff;
		opacity: 0.7;
	}
	.checkbox[checked]:hover {
		opacity: 1;
	}
.window-container,
.window-container .window,
.window-container .window-overlay {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}
	.window-container {
		z-index: 1;
	}
		.window-container .window {
			max-width: 450px;
			z-index: 3;
		}
			.window-container .item-container {
				padding: 51px 0;
			}
			.window-container .window input,
			.window-container .window textarea {
				background: none;
				border: 1px solid #3d414b;
				box-sizing: border-box;
				color: #616671;
				display: block;
				font-family: 'Courier New', arial, serif !important;
				font-size: 14px;
				margin-bottom: 17px;
				outline: none;
				padding: 10px 12px;
				width: 100%;
			}
				.window-container .window input:hover,
				.window-container .window textarea:hover {
					border-color: #464b56;
				}
				.window-container .window input:active,
				.window-container .window input:focus,
				.window-container .window input:visited,
				.window-container .window textarea:active,
				.window-container .window textarea:focus,
				.window-container .window textarea:visited {
					border-color: #535965;
				}
				.window-container .window textarea {
					height: 140px;
				}
			.window-container .window .checkbox-container {
				margin-bottom: 10px;
			}
				.window-container .window .checkbox-container .checkbox {
					float: left;
					margin-top: 3px;
				}
				.window-container .window .checkbox-container .custom-checkbox-label {
					box-sizing: border-box;
					cursor: pointer;
					padding-left: 31px;
				}
					.window-container .window .checkbox-container .custom-checkbox-label:hover {
						color: #fff;
						opacity: 0.7;
					}
		.window-container .window-overlay {
			background: #222631;
			z-index: 2;
		}
			.window-container .window .item-header {
				position: relative;
			}
				.window-container .window .item-header .icon-close {
					position: absolute;
					right: 19px;
					top: 24px;
				}
				.window-container .window .item-header h1 {
					margin: 4px 28px 8px 0;
				}
			.window-container .window .item-footer {
				position: relative;
			}
				.window-container .window .item-footer button {
					background: #fff;
					border: none;
					color: #181b23;
					cursor: pointer;
					font-family: 'Courier New', arial, serif !important;
					font-size: 14px;
					font-weight: 600;
					margin: 0 6px 4px 0;
					opacity: 0.7;
					outline: none;
					padding: 10px 15px;
				}
					.window-container .window .item-footer button:hover {
						opacity: 1;
					}
.scrollable {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.scrollable.scrolling {
	margin: auto;
	position: fixed;
	z-index: 2;
}
.proxy-configuration-container .item-body {
	border-top: none;
	padding-top: 105px;
}
