.align-left { float: left !important; }
.align-right { float: right !important; }
.clear { clear: both !important; }
.hidden { display: none !important; }
.no-margin { margin: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-padding { padding: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }

body,
html {
	background: #fff;
	color: #8986ae;
	font-family: helvetica, serif !important;
	font-size: 14px;
	line-height: 27px;
	text-rendering: optimizeSpeed !important;
}
a,
body,
button,
div,
input,
label,
select,
span,
textarea {
	font-family: helvetica, serif !important;
	transition: all 100ms ease;
		-webkit-transition: all 100ms ease;
		-o-transition: all 100ms ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #7773e3;
	font-weight: 100;
}
a,
a:active,
a:focus,
a:visited {
	color: #7773e3;
	font-weight: 600;
	text-decoration: none;
}
h1 {
	font-size: 26px;
	line-height: 36px;
	margin: 0 0 22px;
}
	h1 .label {
		display: inline-block;
		float: left;
		line-height: 36px;
		margin: 0 10px 0 0;
	}
h2 {
	border-bottom: 1px solid #dddbf4;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 16px;
	margin-top: 32px;
	padding-bottom: 7px;
}
p {
	line-height: 23px;
	margin: 0;
}
strong {
	font-weight: 600;
}
label {
	display: block;
	font-weight: 600;
	padding: 2px 0;
	width: 100%;
}
input,
textarea {
	background: #fff;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url('../images/icons/icon-select-arrow.png') #fff right center no-repeat;
	background-size: auto 100% !important;
	border: 1px solid #dddbf4;
	border-radius: 0;
	color: #8986ae;
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 36px;
	margin: 0;
	outline: none;
	padding: 9px 24px 9px 10px;
}
	select::-ms-expand {
		clear: both;
		display: flex;
		margin-top: 100px;
		position: absolute;
		width: 0;
	}
	select:hover {
		border-color: #7773e3;
	}
	select[disabled]:hover {
		border-color: #dddbf4;
	}
[disabled] {
	cursor: default !important;
	opacity: 0.50;
}
::placeholder {
	color: #c9c7e6;
}
footer,
header {
	width: 100%;
}
.navigation {
	padding: 0;
	width: 100%;
}
	.navigation .logo {
		color: #2a2473;
		line-height: 42px;
	}
	.navigation p {
		padding: 11px 0;
	}
	.navigation nav {
		margin: 0;
	}
		.navigation nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.navigation nav ul li {
				float: left;
			}
				.navigation nav ul li a {
					display: block;
					line-height: 42px;
					margin-left: 16px;
				}
					.navigation nav ul li:first-child a {
						margin-left: 0;
					}
					.navigation nav ul li a.active {
						border-bottom: 2px solid #7773e3;
						margin-bottom: -2px;
					}
footer .navigation {
	border-top: 1px solid #dddbf4;
	margin-bottom: 88px;
}
	footer .navigation p {
		margin: 0;
	}
header .navigation {
	border-bottom: 1px solid #dddbf4;
}
main {
	min-height: 300px;
	padding: 88px 15px 169px;
}
	main img {
		margin: 10px 0;
		width: 100%;
	}
	main p {
		margin-bottom: 15px;
	}
.field-group {
	float: left;
	margin-bottom: 18px;
	margin-top: 10px;
	position: relative;
	width: 100%;
}
	.field-group input,
	.field-group select,
	.field-group span,
	.field-group textarea {
		float: left;
		margin: 0 0 0 -1px !important;
		position: relative;
	}
	.field-group input,
	.field-group select,
	.field-group textarea {
		z-index: 2;
	}
		.field-group input:hover,
		.field-group select:hover,
		.field-group textarea:hover {
			z-index: 3;
		}
	.field-group span {
		background: #f5f5f7;
		border: 1px solid #dadde0;
		cursor: default;
		font-size: 12px;
		font-weight: 600;
		padding: 4px 11px 3px;
	}
	.field-group .button {
		background: #7773e3;
		border: none;
		color: #fff;
		cursor: pointer;
		display: block;
		height: 26px;
		font-size: 11px;
		font-weight: 600;
		line-height: 1px;
		margin: 0 !important;
		outline: none;
		padding: 0 15px;
		position: absolute;
		right: 7px;
		text-transform: uppercase;
		top: 6px;
		z-index: 3;
	}
	.field-group .display {
		background: none;
		font-size: 14px;
		font-weight: 400;
	}
	.field-group .discount-code-field {
		padding-right: 142px;
	}
	.field-group .group-name-field {
		padding-right: 75px !important;
	}
.main-button,
.alternate-button {
	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin: 0 6px 4px 0;
	outline: none;
	padding: 15px 30px;
	text-transform: uppercase;
}
.main-button {
	background: #7773e3;
	color: #fff !important;
}
.alternate-button {
	background: #fff;
	border: 1px solid #dddbf4;
	color: #7773e3;
	padding: 14px 29px;
}
	.alternate-button:hover {
		border-color: #7773e3;
	}
.table {
	border: none;
	border-spacing: 0;
	margin-bottom: 1px;
	text-align: left;
	width: 100%;
}
	.table tr {
		border-bottom: 1px solid #dadde0;
		float: left;
		position: relative;
		width: 100%;
	}
		.table tr:hover span.details-container,
		.table tr:hover span.table-actions {
			display: block;
		}
		.table tr td {
			line-height: 20px;
			padding: 6px;
			width: 100%;
		}
			.table tr td input {
				width: 100%;
			}
			.table tr td .table-text {
				float: left;
				padding-right: 0;
				width: 100%;
			}
				.table tr td .table-text a {
					display: flex;
					float: left;
					padding-right: 66px;
					word-break: break-word;
				}
			.table tr td .group-name-edit-field {
				padding-right: 149px;
			}
			.table tr td .field-group .button.group-name-cancel-edit-button {
				background: #fff;
				border: 1px solid #c4c1e6;
				color: #7773e3;
				padding: 12px 14px;
				right: 7px;
			}
				.table tr td .field-group .button.group-name-cancel-edit-button:hover {
					border-color: #7773e3;
				}
			.table tr td .field-group .button.group-name-save-edit-button {
				right: 88px;
			}
			.table tr td .table-actions {
				display: none;
				height: 19px;
				margin: 1px auto;
				position: absolute;
				right: 6px;
			}
			.table tr td .details-container {
				box-sizing: border-box;
				color: #fff;
				display: none;
				font-size: 12px;
				left: 0;
				margin-top: 26px;
				padding: 0px 0 0 32px;
				position: absolute;
				text-align: left;
				width: 100%;
				z-index: 1;
			}
				.table tr td .details-container .details {
					background: #7773e3;
					display: block;
					padding: 6px 9px;
				}
					.table tr td .details-container .details .detail {
						display: block;
						width: 100%;
					}
						.table tr td .details-container .details .detail textarea {
							background: #5e5bbe;
							border: none;
							box-sizing: border-box;
							color: #fff;
							line-height: 14px;
							font-size: 12px;
							margin: 2px 0;
							max-height: 101px;
							min-height: 69px;
							outline: none;
							padding: 7px 8px 5px 8px;
							width: 100%;
						}
			.table tr td .add-to-cart {
				font-size: 11px;
				margin: 0;
				padding: 11px 0 10px 0;
				text-align: center;
				width: 135px;
			}
			.table tr td .monthly-price {
				display: inline-block;
				width: 135px;
			}
	.table thead tr {
		border-bottom: none;
	}
		.table thead tr th {
			font-size: 12px;
		}
	.table tbody tr:first-child {
		border-top: 1px solid #dadde0;
	}
	.table tbody tr:hover {
		background: #f5f5f7;
	}
.label,
.message {
	background: #f3f3fd;
	border-left: 2px solid #dddbf4;
	color: #8986ae;
	display: inline-block;
	font-size: 12px;
	margin: 5px 10px 2px 0;
	padding: 0 10px;
	width: auto;
}
	.label.active,
	.label.paid,
	.label.payment {
		background: #eaf9e4;
		border-left-color: #bceaa6;
	}
	.label.chargeback,
	.label.inactive,
	.label.unpaid,
	.label.refund {
		background: #fbe1e1;
		border-left-color: #f1b9b9;
	}
.active,
.paid,
.payment {
	color: #77a960;
}
.chargeback,
.inactive,
.unpaid,
.refund {
	color: #c57777;
}
.section {
	margin-top: 88px;
}
	.section .item {
		margin-bottom: 52px;
	}
.container {
	margin: 0 auto;
	width: 100%;
}
	.container.small {
		max-width: 450px;
	}
.feature-container {
	margin-bottom: 88px;
}
	.feature-container .feature-screenshot {
		margin-top: 40px;
	}
.items-container {
	padding-top: 20px;
}
.item-container {
	box-sizing: border-box;
	margin-bottom: 15px;
	margin-top: 5px;
	position: relative;
	width: 100%;
}
	.item-container input,
	.item-container textarea {
		border: 1px solid #dddbf4;
		box-sizing: border-box;
		color: #616671;
		display: block;
		font-size: 14px;
		margin-bottom: 17px;
		outline: none;
		padding: 10px 12px;
		width: 100%;
	}
		.item-container input:hover,
		.item-container textarea:hover {
			border-color: #7773e3;
		}
		.item-container input:active,
		.item-container input:focus,
		.item-container input:visited,
		.item-container textarea:active,
		.item-container textarea:focus,
		.item-container textarea:visited {
			border-color: #7773e3;
		}
		.item-container textarea {
			height: 140px;
			line-height: 18px;
		}
	.item-container.item-button {
		border: 1px solid #dddbf4;
		padding: 15px;
	}
		.item-container.item-button .field-group {
			margin: 0 0 8px 0;
		}
		.item-container.item-button:hover {
			border-color: #7773e3;
		}
		.item-container.item-button p {
			line-height: 20px;
			margin: 0;
		}
	.item-container.item-button-selectable {
		position: relative;
	}
		.item-container.item-button-selectable:hover {
			border-color: #c4c1e6;
		}
		.item-container.item-button-selectable .checkbox {
			left: 15px;
			position: absolute;
			top: 15px;
		}
		.item-container.item-button-selectable p {
			cursor: default;
			line-height: 13px;
			margin-bottom: 8px;
			margin-left: -1px;
		}
	.item-container .item {
		display: block;
		margin-bottom: 0;
	}
		.item-container .item-body,
		.item-container .item-footer,
		.item-container .item-header {
			background: #fff;
			padding: 21px 0 14px;
		}
		.item-container .item-body {
			padding: 0;
		}
		.item-container .item-header {
			border-bottom: 1px solid #dddbf4;
			border-top: 1px solid #dddbf4;
			line-height: 21px;
			margin-bottom: -1px;
		}
			.item-container .item-header .message {
				margin-bottom: 8px;
				margin-top: 15px;
			}
			.item-container .item-header .item-controls .total {
				font-weight: 600;
			}
	.item-container .item-link-container {
		height: 100%;
		left: 0px;
		position: absolute;
		top: 0px;
		width: 100%;
	}
			.item-container .item-link-container a {
				display: inherit;
				height: inherit;
				width: inherit;
			}
	.message {
		display: block;
		font-size: 12px;
		font-weight: 600;
		line-height: 19px;
		margin-bottom: 20px;
		margin-right: 0;
		padding: 8px 11px 7px;
		word-break: break-word;
	}
		.message a {
			border-bottom: 1px dashed;
		}
			.message a:hover {
				border: none;
			}
	.icon {
		color: #fff;
		cursor: pointer;
		display: block;
		height: 18px;
		float: left;
		font-size: 10px;
		margin: 1px 0 8px 5px;
		width: 18px;
	}
		.icon.tooltip:hover.tooltip:after {
			background-color: #7773e3;
			content: attr(data-title);
			display: inline-block;
			font-size: 12px;
			font-weight: 600;
			line-height: 15px;
			margin-left: -1px;
			opacity: 1 !important;
			padding: 7px 10px 6px;
			position: absolute;
		}
			.icon.tooltip:hover.tooltip-bottom:after {
				margin-top: 23px;
			}
		.icon.close {
			background: url('../images/icons/icon-close.png') #fff 9px center no-repeat;
			margin-top: 0;
		}
		.icon.delete {
			background: url('../images/icons/icon-delete.png') center no-repeat;
			margin-top: 0;
		}
		.icon.edit {
			background: url('../images/icons/icon-edit.png') center no-repeat;
			margin-top: 0;
		}
		.icon.next {
			background: url('../images/icons/icon-next.png') #7773e3 center no-repeat;
			border: 1px solid #7773e3;
			margin-top: 0;
		}
		.icon.previous {
			background: url('../images/icons/icon-previous.png') #7773e3 center no-repeat;
			border: 1px solid #7773e3;
			margin-top: 0;
		}
			.icon.previous[page="0"],
			.icon.next[page="0"] {
				background-color: #dddbf4;
				border-color: #dddbf4;
				cursor: default;
				margin-top: 0;
			}
		.icon[window="authenticate"] {
			background: url('../images/icons/icon-authenticate.png') center no-repeat;
		}
		.icon[window="copy"] {
			background: url('../images/icons/icon-copy.png') center no-repeat;
		}
		.icon[window="group"] {
			background: url('../images/icons/icon-group.png') center no-repeat;
		}
		.icon[window="replace"] {
			background: url('../images/icons/icon-replace.png') center no-repeat;
		}
		.icon[window="search"] {
			background: url('../images/icons/icon-search.png') center no-repeat;
		}
		.icon.close,
		.icon.delete,
		.icon.edit,
		.icon.next,
		.icon.previous,
		.icon[window="authenticate"],
		.icon[window="copy"],
		.icon[window="group"],
		.icon[window="replace"],
		.icon[window="search"] {
			background-size: 100% !important;
		}
.checkbox {
	background: #fff;
	border: 1px solid #dddbf4;
	cursor: pointer;
	display: block;
	height: 18px;
	margin-top: 0;
	opacity: 1;
	position: relative;
	width: 18px;
	z-index: 2;
}
	.checkbox:hover {
		border-color: #7773e3;
	}
	.checkbox[checked="1"] {
		background: url('../images/icons/icon-check.png') #7773e3 center no-repeat;
		background-size: 100% !important;
		border-color: #7773e3;
	}
.window-container,
.window-container .window,
.window-container .window-overlay {
	bottom: 0;
	left: 0;
	margin: auto;
	position: relative;
	right: 0;
	top: 0;
}
	.window-container {
		z-index: 1;
	}
		.window-container .window {
			max-width: 450px;
			z-index: 3;
		}
			.window-container .item-container {
				padding: 47px 0 88px;
			}
			.window-container .window .checkbox-container {
				margin-bottom: 10px;
				margin-top: 5px;
			}
				.window-container .window .checkbox-container .checkbox {
					float: left;
					margin-top: 3px;
				}
				.window-container .window .checkbox-container .custom-checkbox-label {
					box-sizing: border-box;
					cursor: pointer;
					font-size: 14px;
					font-weight: 600;
					line-height: 23px;
					padding-left: 31px;
				}
					.window-container .window .checkbox-container .custom-checkbox-label:hover {
						color: #7773e3;
					}
			.window-container .window .checkbox-option-container {
				margin-bottom: 18px;
				padding-left: 32px;
			}
		.window-container .window-overlay {
			z-index: 2;
		}
			.window-container .window .item-header {
				border-top: none;
				padding-top: 26px;
				position: relative;
			}
				.window-container .window .item-header .icon-close {
					position: absolute;
					right: 0;
					top: 40px;
					width: 32px;
				}
				.window-container .window .item-header h1 {
					margin: 4px 28px 8px 0;
				}
			.window-container .window .item-body {
				padding: 30px 0;
			}
				.window-container .window .item-body .window-button {
					display: block;
					width: 100%;
				}
			.window-container .window .item-footer {
				border-top: 1px solid #dddbf4;
				padding-top: 34px;
				position: relative;
			}
.scrollable {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.scrollable[scrolling="1"] {
	margin: auto;
	position: fixed;
}
.item-configuration-container .checked-container {
	display: block;
	width: 100%;
}
.item-configuration-container .item-controls-container .item-header .main-button,
.item-configuration-container .item-controls-container .item-header .alternate-button {
	font-size: 11px;
	margin: 0;
	top: 22px;
}
.item-configuration-container .item-controls-container .item-header .main-button {
	padding-top: 11px;
	padding-bottom: 10px;
	position: absolute;
	right: 0;
}
.item-configuration-container .item-controls-container .item-header .alternate-button {
	margin-bottom: 7px;
	padding-top: 10px;
	padding-bottom: 9px;
}
.item-configuration-container .item-controls-container.scrolling .item-header {
	border-top: none !important;
}
.item-configuration-container .item-body {
	border-top: none;
	padding-top: 85px;
}
.item-controls .checkbox {
	margin-bottom: 6px;
	margin-right: 6px;
}
.cart-items-container .item-button-selectable {
	padding-left: 51px;
}
.transactions .label {
	display: block;
	margin-bottom: 0;
	margin-right: 0;
}
	.transactions .transaction {
		font-size: 12px;
		margin-bottom: 10px;
		padding: 7px 0 0 12px;
	}
		.transactions .transaction.payment {
			border-left-color: #bceaa6;
		}
		.transactions .transaction.refund {
			border-left-color: #f1b9b9;
		}
		.transactions .transaction p {
			line-height: 20px;
			margin-bottom: 8px;
		}
			.transactions .transaction p:last-child {
				margin-bottom: 15px;
			}
